body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-light {
  background-color: #4caf50;
  color: white;
}

.btn-dark {
  background-color: #90ee90;
  color: black;
}

.app-container.light {
  background-color: #f9f9f9;
  color: #000;
}

.app-container.dark {
  background-color: #222;
  color: #ddd;
}
