.box {
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: top;
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dt, dd {
  width: 50%;
  margin: 0;
  padding: 2px 0;
}

dt {
  font-weight: 500;
}
